<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>mikesbackup</string>
        <key>ProgramArguments</key>
        <array>
            <string>FIXME</string>
        </array>
        <key>GroupName</key>
        <string>wheel</string>
        <key>UserName</key>
        <string>root</string>
        <key>EnvironmentVariables</key>
        <dict>
            <key>MIKESBACKUP_NFS_SOURCE</key>
            <string>FIXME</string>
            <key>MIKESBACKUP_NFS_TARGET</key>
            <string>FIXME</string>
            <key>MIKESBACKUP_DIR_TARGET</key>
            <string>FIXME</string>
            <key>MIKESBACKUP_HOME</key>
            <string>FIXME</string>
        </dict>
        <key>Nice</key>
        <integer>1</integer>
        <key>StandardErrorPath</key>
        <string>/var/log/mikesbackup.log</string>
        <key>StandardOutPath</key>
        <string>/var/log/mikesbackup.log</string>
        <key>StartCalendarInterval</key>
        <dict>
            <key>Hour</key>
            <integer>5</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
    </dict>
</plist>
